<div class="container crypto-ranking-container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center title">
      <h1>Top 100 Cryptocurrencies</h1>
      <h2>Get the latest statistics | Invest smarter | Diversify your Portfolio | Do whatever you want</h2>
    </div>
    <div class="col-md-12 text-center">
      <input [(ngModel)]="searchText" placeholder="Search.." class="crypto-search">
    </div>
    <div class="col-md-8 currency-content">
      <table >
        <thead>
          <th class="text-center">Rank</th>
          <th class="text-center">Symbol</th>
          <th class="text-center">Price | $USD</th>
        </thead>
        <tbody *ngFor="let currency of data | filter: {symbol: searchText, price_usd: searchText};">
          <tr (click)="onSelect(currency)">
            <td class="text-center">{{currency.rank}}</td>
            <td class="text-center"> <img class="currency-img" src="src/assets/{{currency.id}}"> {{currency.symbol}}</td>
            <td class="text-center">{{currency.price_usd | currency:'USD':symbol}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
