//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

//Colors
$light-blue: #009BAA;
$light-green: #009B46;
$dark-green: #002814;
$grey-dd: #DDDDDD;
$white: #ffffff;
$black: #212529;

//Font-Weight
$light-weight: 300;
$regular-weight: 400;

//Body-styles
body {
  background-image: linear-gradient(69deg, $light-green, $light-blue);
  font-family: 'Source Sans Pro';
}

// Start Crypto-Ranking-Page
.crypto-ranking-container {
  min-height: 435px;

  .title {
    margin: 50px 15px;

    h1 {
      color: $white;
      font-family: 'Source Sans Pro';
      font-size: 65px;
      font-weight: 300;
    }

    h2 {
      color: $white;

      font-size: 25px;
      font-weight: 300;
      margin-top: 15px;
    }
  }

  .crypto-search {
    @media only screen and (max-width: 770px) {
      width: 100%;
    }
    border: solid $grey-dd thin;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    margin-top: 30px;
    padding: 5px 10px;
    width: 75%;

    &::placeholder {
      color: $black;
      font-weight: $light-weight;
    }

    &:focus {
      outline-width: 0;
    }
  }

  .currency-content {
    background-color: $white;
    border: solid $grey-dd thin;
    border-radius: 5px;
    font-size: 20px;
    margin: 50px 15px 0;
    padding: 25px;

    .currency-img {
      height: 50px;
      width: 50px;
    }

    table {
      width: 100%;

      th,
      td {
        border-bottom: solid $grey-dd thin;
      }

      tr {
        cursor: pointer;
      }

      td {
        font-weight: $light-weight;
        padding: 10px;
      }
    }
  }
}
//End Crypto-Ranking-Page


//Start Crypto-Display-Page
.crypto-display-container {
  min-height: 300px;

  .currency-details {
    background-color: $white;
    border: solid $grey-dd thin;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    margin: 75px 15px 0;
    padding: 25px;

    .currency-name {
      font-size: 35px;
    }

    div {
      border-bottom: solid $grey-dd thin;
      font-weight: $light-weight;
      padding: 10px;
    }
  }

  button {
    background-color: transparent;
    border: solid 1px $white;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    font-weight: $light-weight;
    margin-top: 35px;
    outline-style: none;
  }
}
//End Crypto-Display-Page


//Start Footer-styles
.footer {
  color: $white;
  margin-top: 150px;
}
//End Footer-styles


//Start NavBar-styles
.navbar {
  border-bottom: solid $grey-dd thin;

  .navbar-toggler {
    &:focus {
      outline-width: 0;
    }
  }
}
//End NavBar-styles
