<app-navbar></app-navbar>

<div class="container crypto-display-container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 currency-details">
      <div class="text-center currency-name">
        <img class="currency-img" src="src/assets/{{currency.id}}">
       <br/>
       <strong>{{currency.name}}</strong>
      </div>
      <div class="text-left">
        <strong>Market Cap: </strong>
        {{currency.market_cap_usd | currency:'USD':symbol}}
      </div>
      <div class="text-left">
        <strong>Price: </strong>
        {{currency.price_usd | currency:'USD': code}}
      </div>
      <div class="text-left">
        <strong>Circulating Supply: </strong>
        {{currency.total_supply | number:'2.'}} {{currency.symbol}}
      </div>
      <div class="text-left">
        <strong>Change (24h): </strong>
        {{currency.percent_change_24h | percent}}
      </div>
      <div class="text-left">
        <strong>Price Statistics (7d): </strong>
        {{currency.percent_change_7d | percent}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="float-right" type="button" (click)="onClick()">Go back</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
