<div class="container footer">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <p>Petterson Possidonio | All Rights Reserved &reg; </p>
    </div>
  </div>
</div>
